**/*.xtc
**/*.tpr
**/*.log
**/*.trr
**/*.edr
**/*.cpt
**/min.gro
**/nvt.gro
**/npt.gro
**/pro.gro
**/min.gro
**/nvt.gro
**/npt.gro
**/temp/
**/*#*
**/step*pdb
try
docs/doc-sphinx/build
**/__pycache__
